[submodule "submodules/tinycolormap"]
	path = submodules/tinycolormap
	url = https://github.com/yuki-koyama/tinycolormap
[submodule "submodules/portable-file-dialogs"]
	path = submodules/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "submodules/ImGuiScope"]
	path = submodules/ImGuiScope
	url = https://github.com/Cervidellus/ImGuiScope.git
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "submodules/sdl3"]
	path = submodules/sdl3
	url = https://github.com/libsdl-org/SDL.git
